*.pyc
*.log
node_modules
coverage/
arches_search/logs
arches_search/export_deliverables
arches_search/cantaloupe/*
arches_search/staticfiles
arches_search/media/packages
arches_search/media/build/
arches_search/uploadedfiles/*
arches_search/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
frontend_configuration

# Packaging
build/
dist/
