name: Prepare release

on:
  push:
    branches:
      - 'release_alpha'
      - 'release_beta'
      - 'release_patch'
      - 'release_minor'
      - 'release_major'

permissions:
  contents: write
  pull-requests: write

jobs:
  increment_version_and_pr:
    uses: archesproject/reusable-github-workflows/.github/workflows/release_prep.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}