name: Release application to pypi

on:
  pull_request:
    types: [closed]
    branches:
      - 'main'
      - 'dev/*'

permissions:
  contents: write
  pull-requests: write

jobs:
  increment_version_and_pr:
    uses: archesproject/reusable-github-workflows/.github/workflows/release_deploy.yml@main
    secrets:
      pypi-token: ${{ secrets.PYPI_TOKEN }}